name: 01 Print variables

on:
  workflow_dispatch:
    inputs:
      parameter:
        description: 'Parameter'     
        required: false
        default: 'optional'

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      computed: ${{ steps.compute.outputs.result }}
    steps:
      - name: Set output parameter for the step
        id: compute
        run: echo ::set-output name=result::This is the result of the step 'compute', stored as an output parameter

  ubuntu:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Print string literal
        run: echo 'Hello, World!'

      - name: Print dependent job's output parameter
        run: echo ${{ needs.prepare.outputs.computed }}

      - name: Set output parameter for the 'compute' step
        id: compute
        run: echo ::set-output name=result::This is the result of the step 'compute', stored as an output parameter

      - name: Print 'compute' step's output parameter
        run: echo ${{ steps.compute.outputs.result }}

      - name: Print workflow input parameter
        run: echo ${{ github.event.inputs.parameter }}

      - name: Print GitHub context parsed in an environment variable
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      
      - name: Print part of the github context (github.ref)
        run: echo ${{ github.ref }}

      - name: Set output parameter filled with other parameters
        id: step_with_output_parameters
        run: |
          LOCAL_VARIABLE=$(echo ${{ github.ref }})
          echo ::set-output name=OUTPUT_LOCAL::${LOCAL_VARIABLE}
          echo ::set-output name=OUTPUT_ENVIRONMENT::${REF}
          echo ::set-output name=OUTPUT_STEP::${{ steps.compute.outputs.result }}
        env:
          REF: ${{ github.ref }}

      - name: Print previous step's output parameter
        run: |
          echo ${{ steps.step_with_output_parameters.outputs.OUTPUT_LOCAL }}
          echo ${{ steps.step_with_output_parameters.outputs.OUTPUT_ENVIRONMENT }}
          echo ${{ steps.step_with_output_parameters.outputs.OUTPUT_STEP }}

  windows:
    runs-on: windows-latest
    needs: prepare
    steps:
      - name: Print string literal
        run: echo "Hello, World!"

      - name: Print dependent job's output parameter
        run: echo "${{ needs.prepare.outputs.computed }}"

      - name: Set output parameter for the 'compute' step
        id: compute
        run: echo "::set-output name=result::This is the result of the step 'compute', stored as an output parameter"

      - name: Print 'compute' step's output parameter
        run: echo "${{ steps.compute.outputs.result }}"

      - name: Print workflow input parameter
        run: echo "${{ github.event.inputs.parameter }}"

      - name: Print GitHub context parsed in an environment variable
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "${env:GITHUB_CONTEXT}"
      
      - name: Print part of the github context (github.ref)
        run: echo ${{ github.ref }}

      - name: Set output parameter filled with other parameters
        id: step_with_output_parameters
        run: |
          set LOCAL_VARIABLE=${{ github.ref }}
          echo "::set-output name=OUTPUT_LOCAL::${env:LOCAL_VARIABLE}"
          echo "::set-output name=OUTPUT_ENVIRONMENT::${env:REF}"
          echo "::set-output name=OUTPUT_STEP::${{ steps.compute.outputs.result }}"
        env:
          REF: ${{ github.ref }}

      - name: Print previous step's output parameter
        run: |
          echo "${{ steps.step_with_output_parameters.outputs.OUTPUT_LOCAL }}"
          echo "${{ steps.step_with_output_parameters.outputs.OUTPUT_ENVIRONMENT }}"
          echo "${{ steps.step_with_output_parameters.outputs.OUTPUT_STEP }}"