name: 02 dotnet CLI

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Use Nerdbank.GitVersioning
      uses: dotnet/nbgv@master
      with:
        setAllVars: true

    - name: Display structure of working directory
      run: ls -R

    - name: Restore dependencies
      run: dotnet restore .\src\UselessPackage\UselessPackage.csproj

    - name: Build
      run: dotnet build src\UselessPackage\UselessPackage.csproj --no-restore

    - name: Test
      run: dotnet test test\UselessPackage.Test\UselessPackage.Test.csproj

    - name: Pack
      run: dotnet pack UselessPackage\UselessPackage.csproj
