name: 03 NuGet Package consumer

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Add NuGet source
      run: dotnet nuget add source --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github_dhornyak https://nuget.pkg.github.com/dhornyak/index.json

    - name: List NuGet sources
      run: dotnet nuget list source

    - name: Checkout source
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Use Nerdbank.GitVersioning
      uses: dotnet/nbgv@master
      with:
        setAllVars: true

    - name: Restore
      run: dotnet restore ./src/UselessConsumer/UselessConsumer.csproj

    - name: Build
      run: dotnet build ./src/UselessConsumer/UselessConsumer.csproj --configuration Release --no-restore

    - name: Run
      run: dotnet run --project ./src/UselessConsumer/UselessConsumer.csproj --no-build
