name: Check release

on:
  push:
    tags:
      - 'vNext'

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Ensure commit has not been released before
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            console.log("Current sha");
            console.log(context.sha);

            const releases = await github.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo});

            console.log("Releases:");
            console.log("");

            for (const release of releases) {
              console.log(release.name);
              console.log(release.target_commitish);
              console.log("");
            }
