name: Check release

on:
  push:
    tags:
      - 'vNext'

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Ensure commit has not been released before
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            console.log("Context sha:");
            console.log(context.sha);
            console.log("");

            const getReleases = await github.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo});

            if (getReleases.status != 200)
              throw "Could not query releases.";

            const releases = getReleases.data;

            console.log("Previous releases:");

            for(var i = 0; i < releases.length; i++) {
              var release = releases[i];

              console.log("  - " + release.name);
              console.log("    tag: " + release.tag_name);
              console.log("    sha: " + release.target_commitish);
              console.log("");
            }

            if (releases.some((r) => r.target_commitish == context.sha))
              throw "Release already exists for the currect commit."

            console.log("No release found for the current commit. Continue...");
