name: Release on tag pushed

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.404

      - name: Use Nerdbank.GitVersioning
        uses: dotnet/nbgv@master
        with:
          setAllVars: true

      - name: Restore dependencies
        run: dotnet restore UselessPackage\UselessPackage.csproj

      - name: Build
        run: dotnet build UselessPackage\UselessPackage.csproj --no-restore

      - name: Pack
        run: dotnet pack UselessPackage\UselessPackage.csproj

      - name: 'Upload Artifacts'
        uses: actions/upload-artifact@v2
        with:
          name: Packages
          path: |
            UselessPackage\bin\**\*.nupkg
            UselessPackage\bin\**\*.snupkg
          if-no-files-found: error
          retention-days: 5
  
  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Extract source, branch and tag name
        id: extract_name
        run: |
          echo ::set-output name=SOURCE_NAME::${GITHUB_REF#refs/*/}
          echo ::set-output name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}

      - name: Print source, branch and tag name
        run: |
          echo "source: $SOURCE_NAME"
          echo "branch: $SOURCE_BRANCH"
          echo "tag: $SOURCE_TAG"
        env:
          SOURCE_NAME: ${{ steps.extract_name.outputs.SOURCE_NAME }}
          SOURCE_BRANCH: ${{ steps.extract_name.outputs.SOURCE_BRANCH }}
          SOURCE_TAG: ${{ steps.extract_name.outputs.SOURCE_TAG }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Yet another release of this complete useless project.

            Changes in this release:
            - Absolute nothing
          draft: true
          prerelease: false
